
<div></div>

	<div class="jumbotron bio" parallax-background parallax-ratio="0.7">

		<div class="container">
<!-- 			
			<div class="row">
				<div class="col-xs-1">width of 1</div>
				<div class="col-xs-1">width of 1</div>
				<div class="col-xs-1">width of 1</div>
				<div class="col-xs-1">width of 1</div>
				<div class="col-xs-1">width of 1</div>
				<div class="col-xs-1">width of 1</div>
				<div class="col-xs-1">width of 1</div>
				<div class="col-xs-1">width of 1</div>
				<div class="col-xs-1">width of 1</div>
				<div class="col-xs-1">width of 1</div>
				<div class="col-xs-1">width of 1</div>
				<div class="col-xs-1">width of 1</div>
			</div>
 -->

			<div class="row">
				<div class="col-lg-2 col-md-1"></div>
				<div class="col-lg-3 col-md-4 col-sm-3 col-xs-12">
				
					<img class="center-block" width="279" height="285.75" src="http://i47.photobucket.com/albums/f154/uninvisible/YqDV2_zpspwcdfvck.png" alt="Vault Boy">
				</div>
				
				<div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-7 col-xs-12 bio-heading">
					<h1>Hello, world!</h1><br>

					<p>This is where the header of the bio will be.</p>
					<p>This will allow for a spot to list skills.</p>
					<p>And other such related information.</p>
				</div>
				<div class="col-lg-1"></div>
			</div>

		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 bio-text">
				<p class="lead">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel turpis ipsum. Praesent suscipit ultrices nisl, nec placerat sem condimentum eget. Proin in orci ac sem rutrum aliquam. Donec maximus malesuada est, at convallis erat laoreet sit amet. Proin vehicula finibus tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac augue volutpat, ornare augue mattis, gravida ipsum. Suspendisse egestas sem et accumsan finibus. Curabitur volutpat at ligula id tempor. Integer euismod, nunc sed pharetra volutpat, ipsum purus finibus lorem, convallis elementum libero enim sit amet nunc. Phasellus tincidunt consequat euismod. Ut velit enim, euismod nec porta a, eleifend vel dolor.
				</p>
				<hr />

				<p>
					Aenean velit dui, faucibus non consequat sagittis, malesuada sit amet nisi. In suscipit diam dolor. Ut malesuada lacus eget mauris ornare, eget porta tortor venenatis. Phasellus vitae felis interdum, mollis urna in, accumsan odio. Aenean dignissim imperdiet congue. Nam dapibus convallis finibus. Integer id velit et ligula dignissim tincidunt eget quis massa. Integer ut feugiat erat, vitae convallis libero. Cras nec elit mi. Quisque sed justo eu sapien porta aliquam.
				</p>
				<p>
					Proin non justo in orci condimentum finibus quis pellentesque purus. Suspendisse potenti. Cras dictum ac arcu nec vulputate. Praesent finibus pretium dolor, vitae facilisis mi. Phasellus mattis ornare auctor. Praesent tristique sodales purus facilisis suscipit. Mauris sed ligula eu dolor viverra venenatis in eu diam. Quisque varius tortor a enim interdum pellentesque. Nulla sagittis tortor sed metus ultrices aliquet vel sed dui. Duis non mauris ac est feugiat feugiat. In sollicitudin erat eget elit pharetra tincidunt. Phasellus hendrerit nibh ultrices nisi congue pharetra. Aliquam dignissim turpis a libero rhoncus, vitae commodo arcu sollicitudin.
				</p>
				<p>
					In hac habitasse platea dictumst. Sed eu eros leo. Suspendisse vel mollis tortor. Vestibulum efficitur dui et nibh pretium euismod in vitae massa. Maecenas ut luctus odio. Vivamus suscipit varius sem et fringilla. Suspendisse tempor fermentum maximus. Morbi volutpat nibh quis malesuada pulvinar. Nam nec malesuada nisi. Praesent sodales a magna ut finibus. Integer a consequat metus. Pellentesque malesuada elit odio, ac mollis enim dictum nec. Nam non tortor arcu.
				</p>
				<p>
					Pellentesque pulvinar posuere odio in efficitur. Vivamus dignissim ex eu nisl congue commodo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In non risus id tortor ullamcorper pretium vitae vel nisl. Morbi quam metus, auctor a lobortis at, egestas at lacus. Sed maximus vel dolor vitae congue. Ut vel enim turpis. Aliquam egestas, ipsum id sagittis accumsan, nisi sapien accumsan dui, at blandit diam arcu at tortor. Sed et molestie elit. Vivamus a lorem nisi.
				</p>
			</div>
		</div>
	</div>		
</div>		