@media (min-width: 1200px) {
	.container{
		max-width: 970px;
	}
}

.jumbotron {
	background-image: url('http://i47.photobucket.com/albums/f154/uninvisible/blue-leaves_zpskw6nc3ic.png');
	background-size: cover;
	background-color: #B8D8E3;
}

.bio {
	padding-top: 80px;
}

.bio-heading {
/*	padding-left: 40px;*/
	font-size: 1.3em;
}

.bio-text {
	font-size: 1.2em;	
}

.draft {
	padding-top: 80px;
}